/* src/Styles/styles.css */
.cow-container{
  background-image: url('../assets/crop.png');
  background-repeat: no-repeat;
  background-size: cover;
  width:100vw;
  height:100vh;
  padding-top: 100px;
}
.add-cow-form {
  /* margin-top: 20px; */
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 100px 50px 100px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .add-cow-form h2 {
    text-align: center;
    color: #6a11cb;
  }
  
  .add-cow-form input,
  .add-cow-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .add-cow-form button {
    background-color: #6a11cb;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .add-cow-form button:disabled {
    background-color: #ccc;
  }
  
  .camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .video-feed {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .captured-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  