.main-admin-login{
  /* background-color: rgb(225, 110, 110); */
  background-image: url('../assets/crop.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 200px;
  opacity: 0.8;
}
.admin-login {
   background-color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 50px;
   padding: 50px 100px 100px 100px;
   max-width: 500px;
   margin: auto;
   border-radius: 10px;
}
.admin-login h3{
  color: #0e5571;
}
.google-icon{
    width: 20px;
    height: 20px;
  }
.admin-login button {
    padding: 15px 20px;
    font-size: 20px;
    color: #fff;
    background-color: #4da798;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: 700;
}
  
.admin-login button:hover {
    background-color: #034a4d;
  }
  
.admin-login button:active {
    background-color: #034a4d;
}
  