
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    padding-top: 200px;
  }

  .homePage-heading{
    font-size: 28px;
    font-weight: 900;
    max-width: 600px;
    padding-bottom: 30px;
    color: rgb(29, 29, 86);
  }

  .homePageCard{
    background-color: rgb(202, 215, 226);
    padding: 60px 150px;
    border-radius: 10px;
  }
  
  /* .HomePage_options{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .hoome-links{
    background-color: white;
    padding: 10px;
  }
  .hoome-links link{
    display: flex;
  }
  .hoome-links p{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
  } */

  .HomePage_options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
   
  }
  
  .home-links {
    margin: 10px 0;
    color: rgb(29, 29, 86);
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
  }
  
  .home-links a {
    text-decoration: none;
    color: inherit;
  }
  
  .home-links .MuiBox-root {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  